<ion-view title="דגשים לתנוחות על הידיים" hide-nav-bar="true" id="page12" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page13-card25">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page13-list-item26" style="">
        <img dir="rtl" src="img/warrior4.jpg">
        <h2 dir="rtl">דגשים לתנוחות ידיים</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page13-list-item-container10" style="">
      <div id="page13-markdown19" style="text-align:right;" class="show-list-numbers-and-dots">
        <p dir="rtl" style="color:#000000;">בחלק משיעורי היוגה עובדים לא מעט על הידיים, ואם מתרגל מגיע עם רגישות באזור כף היד ולא עובד נכון עם הידיים, וחוזרים על המנחים הללו שוב ושוב, מתישהו יופיעו סימנים שדורשים שינוי (כאב). חשוב גם לזכור שהרבה אנשים היום מבלים לא מעט זמן בשימוש במקלדת/עכבר/שימוש בסמארטפון מה שפעמים רבות יוצר מנחים לא טבעיים לידיים אשר לאורך זמן גובים מחיר.
          כמו תמיד, חשוב לפתח מודעות ותשומת לב ולראות מה מתאים ונכון עבור כל אחד.
          הנה 5 רעיונות לעבודה עם כף היד שמונחת על מזרן היוגה:
        </p>
        <p dir="rtl" style="color:#000000;">
          ננסה למצוא איזון וחלוקה של המשקל בכף היד, בין החלק החיצוני לפנימי, בין החלק הקדמי לאחורי
          לבסס 4 נקודות אחיזה בפינות כף היד, אפשר להיעזר בדימוי של ארבעה גלגלים לרכב
          קצות האצבעות פרושות ומשתרשות אל המזרן
          מרכז כף היד והתעלה הקטנה לכיוון מפרק כף היד נאספים קצת מעלה, כמו כיפה
          בתנוחות של כתף מעל כף יד ויד ישרה, להשתדל לא לעבור עם הכתף את קו מפרק היד
        </p>


      </div>
    </div>
  </ion-content>
</ion-view>
