<ion-view title="יוגה, נשימה ואסתמה " hide-nav-bar="true" id="page10" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" id="page10-card21">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page10-list-item18" style="">
        <img dir="rtl" src="img/77ZVPTTRuOWUdSh1emKb_astmaSitting.jpg">
        <h2 dir="rtl" >יוגה, נשימה ואסתמה</h2>
        <p dir="rtl" >מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page10-list-item-container7" style="">
      <div id="page10-markdown16" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">היוגה מציעה כלים רבים לחולי אסטמה להתמודד עם מצבם כמו: תרגילי נשימה, תנוחות יוגה - אסאנות, תרגילי הרפיה, יוגה נידרה וקריות (טכניקות ניקוי), חלקם או כולם בשילוב תזונה נכונה ואורח חיים מתאים יתמכו משמעותית במתרגל אשר מתמודד עם אסתמה.</p>

        <p style="color:#000000;">ביוונית פירוש המילה " נשימה כבדה"; ידועה גם בשם קצרת הנשימה. אסטמה היא מחלה ריאתית כרונית חסימתית התקפית. ההתקפים נגרמים בדרך כלל עקב אלרגיה. ריר צמיגי המופרש מדפנות קנה הנשימה חוסם את הקנה ומקשה על הוצאת אוויר מהריאות. סימנים להתקף אסתמה כוללים
          קשיי נשימה והשמעת "צפצופים", הרגשת "רעב לאוויר", שיעול טורדני, מועקה בחזה וריבוי כיח (ליחה). במקרים קשים סובלים משיעול בלתי פוסק, קושי בעת דיבור, נשימה מהירה ומאומצת ועוד. לפי הערכות, שכיחות המחלה בארצות המערב נעה בין 7% מאוכלוסיית הבוגרים ל-12%
          בקרב אוכלוסיית הילדים ובשנים האחרונות שיעור הסובלים מסימפטומים חריפים גדל כנראה בשל אורח החיים המערבי. הגורמים לאסתמה הם רבים וכיום הטענה הרווחת היא כי מדובר בשילוב של גורמים תורשתיים עם גורמים סביבתיים כמו אלרגיה, זיהום אוויר ועוד. אסתמה היא
          אינה מחלה פסיכוסומטית אלא מדובר בבעיה דלקתית בדרכי הנשימה. יחד עם זאת לגורמים נפשיים עשויה להיות השפעה חלקית על מהלך המחלה. טיפול תרופתי באסתמה עונה על שתי מטרות, הקלה בזמן התקף על ידי הרחבת הסמפונות ומניעה על ידי דיכוי הדלקת בדרכי הנשימה. תרופות
          מקלות מכוונות להרפיית השרירים המקיפים את הסמפונות ולהרחבת הסמפונות. תרופות מונעות מדכאות את הדלקת בסמפונות ומצמצמות את הנפיחות שלהן.</p>

        <p style="color:#000000;">הכל מתחיל בנשימה אנשים רבים, לא רק כאלו הסובלים מאסטמה נושמים בצורה דיספונקציונלית ולא יעילה. עבודה על דפוסי הנשימה הלקויים תוכל להגביר הזרמת חמצן לרקמות, תוריד רמות לחץ ותתמוך בהרפית השרירים. כל אלו טובים לכולם אך עשויים להיות קריטיים עבור חולה
          אסטמה. בין דפוסי הנשימה הלקויים אותם אפשר למצוא אצל חולי אסטמה: • נשימת חזה עליונה בלבד – נשימה זה נעזרת רק בחלקיה העליונים של הריאות מבלי להשתמש בשריר הנשימה המרכזי – הסרעפת. נשימה כזו עלולה לגרום ולהיגרם ע"י מצבי לחץ והינה שטחית ומהירה יחסית.
          • קושי בנשיפה - רוב חולי האסתמה מתקשים בנשיפה. קושי זה הוא סימפטום של הצרת הצינורות הברונכיאליים והצטברות ליחה. כתוצאה מכך שהאויר לא יוצא בנשיפה מעט מאוד אויר חדש עשיר בחמצן נכנס לריאות. • אחזקות נשימה – אחזקות נשימה לא מודעות בסוף שאיפה אשר
          עלולות להגביר לחץ ולהקשות על הנשיפה. • נשימה דרך הפה – בנשימה דרך הפה אנו לרוב נושמים מהר יותר ומאבדים את היתרונות של נשימה דרך האף: סינון האוויר, התאמת הטמפרטורה והלחות שלו, והשליטה בקצב הנשימה. • נשימה הפוכה – נשימה בה הסרעפת עולה בשאיפה וצונחת
          בנשיפה, הפוך מהצורה הטבעית. נשימה זו קטנה ביעילותה ומגבירה נשימת חזה. כל בעיות הנשימה עלולות להחריף בשל יציבה לא נכונה, חולשה בשרירי הנשימה ושרירים תומכים, ובעיקר חוסר מודעות. בעזרת טכניקות יוגיות שונות אליהן נגיע בהמשך אפשר להתמודד עם בעיות
          הנשימה ולשפר משמעותית את מצב האסתמה.</p>

        <p style="color:#000000;">תמיכה מדעית מחקרים על השפעת היוגה על מצבים בריאותיים שונים ובפרט אסתמה נערכים בהודו שנים רבות ולאחרונה גם במערב. מתוך המחקרים על יוגה ואסתמה ברצוני לציין שני מחקרים: מחקר אשר נערך ע"י ד"ר Bhole ועמיתיו ב Kaivalyadhama Ashram בהודו בדק את השפעתה
          של תוכנית בת חודשיים אשר כוללת תרגול תנוחות יוגה - אסאנות, תרגילי נשימה, וקריות (כטכניקות ניקוי) על 55 מטופלים עם אסתמה. הם מצאו כי ל 40% הייתה תגובה טובה לתוכנית, ול 33% תגובה סבירה. תגובה טובה נמדדה כאשר הנבדק ללא התקפי אסתמה במשך שישה חודשים
          וחודשיים ללא שימוש בתרופות, תגובה סבירה נמדדה כהפחתה בכמות ההתקפים ב 50% תוך שימוש בתרופות במקרה הצורך. מחקר נוסף של ד"ר Virendra ועמיתיו מביה"ח נוטיגהאם אשר באנגליה דימה תרגול תרגילי נשימה - פראנימה אצל 18 נבדקים, הנבדקים נשפו דרך מכשיר שמאט
          את הנשיפה לאורך כפול מהשאיפה (יחס 1:2 אשר נהוג כתרגיל פראנימה), קבוצת הבקרה השתמשה במכשיר דומה שלא מאט את הנשיפה. הממצא המשמעותי ביותר הוא שהיה קשה יותר בצורה משמעותית לעורר התקף בקבוצת הנבדקים כאשר אלו נחשפו לחומר אשר מגביל את דרכי הנשימה.</p>

        <p style="color:#000000;">יוגה לאסטמה היוגה מציעה כלים רבים לחולי אסטמה להתמודד עם מצבם, תרגילי נשימה, תנוחות יוגה - אסאנות, תרגילי הרפיה, יוגה נידרה וקריות (טכניקות ניקוי), חלקם או כולם בשילוב תזונה נכונה ואורח חיים מתאים יתמכו משמעותית במתרגל אשר מתמודד עם אסתמה. חשוב
          לציין כי תרגול אשר יבנה באופן אישי בהתאם למתרגל, צרכיו ויכולותיו יהיה האפקטיבי ביותר. מכיוון שיריעת היוגה רחבה אתייחס למספר תרגילי נשימה ותנוחות נבחרים בלבד. תרגילי נשימה: 1. מודעות לנשימה - על מנת להתחיל ליצור שינוי יש לפתח תשומת לב לדפוסי
          הנשימה שלנו ולהבין מה היא עבורנו נשימה רצויה. התנוחה הקלה ביותר להתבונן בנשימה היא Shavasana (תנוחת ההרפיה) כך שהגוף נתמך ע"י הקרקע. ישיבה עשויה להיות בעייתית בגלל שאינה מאפשרת הרפיה מלאה אצל מתחילים, והיא דורשת מהסרעפת לעבוד כנגד כח הכובד בנשיפה.
          במידה ושכיבה על הגב אינה נוחה מומלץ להיעזר בתמיכה של שמיכה או כרית מתחת לברכיים ו/או הראש. בשוואסנה יש להתחיל להתבונן בנשימה שלנו ולאט לאט לישם נשימה דרך האף, רציפה, מלאה ורגועה. 2. נשימה בטנית - כפי שהזכרנו אחד מדפוסי הנשימה הבעיתיים הוא נשימת
          בית חזה ללא שימוש בסרעפת (שריר הנשימה המרכזי אשר ממוקם בין הצלעות התחתונות לחלל הבטן), תרגיל אחד אשר יכול לעזור הוא לשים לב לנשימה בטנית, כך שבשאיפה הסרעפת נעה מטה ומאפשרת לבטן ולגב התחתון להתרחב ובנשיפה הבטן מתרוקנת חזרה מטה עם תנועת הסרעפת
          חזרה מעלה. ניתן למקם את הידיים על הבטן או הצלעות התחתונות על מנת להעצים את התחושה. 3. תרגול נשימה ביחס 1:2 - אפשר לבצע תרגיל זה גם בישיבה וגם בשכיבה וניתן לשלב נשימת אוג'אי. בהתאם לאורך הנשיפה הנוח עבורנו נקצר ונרכך את השאיפה כך שאורכה חצי מאורך
          הנשיפה, לדוגמא אם הנשיפה הנוחה אורכת 4 שניות אז השאיפה תהיה 2 שניות. לאורך כל התרגיל נשמור על נשימה נוחה ובמידה ואנו חווים אי נוחות נחזור לנשימה טבעית למספר נשימות. ננסה להתמקד בנשיפה מלאה ומרוקנת שהינה בעייתית מאוד עבור חולי אסטמה רבים.</p>

        <p style="color:#000000;">אסאנות (תנוחות היוגה): באופן כללי תרגול תנוחות היוגה מאוד מומלץ ויכול לעזור בין השאר בשיפור היציבה, חיזוק והארכת שרירי הנשימה השונים, שיפור סיבולת לב ריאה ועוד. יתכן שחלק מהתנוחות לא יתאימו לכולם, במקרה כזה תמיד אפשר למצוא חלופות מתאימות. 1. ברכות
          לשמש – תרגול הברכות לשמש מאפשר תנועה דינמית, שיפור הנשימה ופתיחת הגוף. בתוך ברכות השמש יש לשים דגש רב על נשימה נכונה ותומכת בתיאום עם התנועה וניתן להתמקד בהארכת הנשיפה בתנוחות המתאימות. 2. כפיפות לאחור – מורים רבים ממליצים על כפיפות אחורה למתרגלים
          עם אסתמה. יש לזכור שעבור מתרגלים עם אסטמה במצב אקוטי, כפיפה אחורה יכולה מאתגרת מדי. במידה והחלק הקדמי של בית החזה החזה אינו פתוח מספיק, כפיפה לאחור עשויה ליצור שיעולים ותחושת מחנק. בנוסף כפיפות אחורה דורשות אנרגיה רבה ומאוד מעוררות מה שלא תמיד
          תומך במתרגל. במקרים כאלו ניתן להתחיל עם כפיפות אחורה בתמיכה לדוגמא Supta Bahda Konasana תוך שימוש באביזרים המתאימים. כפיפות לאחור נוספות אשר עשויות להתאים הן: תנועת חתול בעמידת שש, גשר קטן ( Setu Bandha ) וקוברה. 3. תנוחות הפוכות – כשהגוף הפוך
          הסרעפת נעה עם כח הכובד בנשיפה ועל כן תנוחות הפוכות מצוינות לנשימה ובפרט לאסטמה. ניתן לבצע עמידת כתפיים או Viparita karani בתמיכת קיר ואביזרים על מנת להקל על השהייה בהן במיוחד בהתחלה.</p>

        <p style="color:#000000;">מקרה מוצלח לדוגמא – רועי רועי הוא חבר טוב אשר סובל מאסטמה מגיל צעיר ומתרגל יוגה מזה מספר שנים, איתי ובעיקר לבד תוך עזרה בספר המאוד מומלץ "אסאנה פראנימה מודרה בנדה" של ביהר. הוא מספר: "כאשר אני במצב טוב יותר מבחינת כושר אירובי וזה כמובן נכון לתקופה
          שאני מתרגל בסדירות יוגה – הסיכון לקבל התקף קטן משמעותית ואינני סובל בכלל מהתקפים קשים. דבר נוסף שהיוגה מאוד עזרה בו הוא הורדת קצב הפעילות בזמן התקף. אחת הבעיות במהלך התקף אסתמה היא עלייה של לחץ, היפר-ונטילציה אבל בלי ספיקת חמצן גבוהה וזה תהליך
          שמתגבר ומחריף. זה תהליך שהוא גם פסיכולוגי והפתרון הטוב ביותר הוא הרגעה עצמית, הרפיה של מערכות הגוף ונשימה ודופק איטיים יותר. כמובן שזה יותר קשה מאשר במצב רגיל, אבל זה מאוד חשוב ומסייע לסיים את ההתקף. בנוגע לתזונה הוא מספר: "כשאני בתקופת סיכון
          אני אוכל בהקפדה, אני משתדל להימנע ממזונות מכייחים ובשריים ולאכול הרבה ירקות מבושלים. בנוסף אני יכול לומר שאלכוהול, שוקולד, בוטנים ומאכלים שמנים אחרים גם לא מועילים לי".</p>

        <p style="color:#000000;">קצת תשומת לב לסיום תרגול היוגה יכול לתמוך רבות במיוחד למי אשר מתמיד בו לאורך זמן אך הוא אינו נועד להחליף טיפול תרופתי אשר במקרים מסוימים הינו הכרחי. בכל מקרה מומלץ תמיד להתיעץ עם אנשי מקצוע מתאימים. יש לראות שתרגול היוגה מותאם למתרגל ואינו אינטנסיבי
          מדי, במיוחד למתחילים ואנשים אשר סובלים מסימפטומים רציניים. אוויר קר יכול לעורר "צפצופים" ועל כן מומלץ לתרגל בטמפרטורה נוחה. אנשים רבים סובלים מאלרגיות לחומרים אלרגניים שונים אשר מחמירות את המצב, מומלץ לנסות להכיר אותם ובתקווה להימנע בעתיד מאלו
          האפשריים. גם לתזונה חלק נכבד בשיפור המצב כפי ששיתף אותנו רועי, ואפשר דרכה ליצור שינוי משמעותי, מומלץ לשים לב ולהיעזר באיש מקצוע אם צריך.</p>

        <p style="color:#000000;">ואחרי שקראנו, עכשיו החלק הקשה, להתחיל לעשות.</p>

        <p style="color:#000000;">מקורות: Asana, Pranayama, Mudra, Bandha – Swami Satyananda, Bihar. Yogic Management of Asthma and Diabetes – Swami Shankardevananda, Bihar. Yoga As Medicine – Timothy McCall M.D.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
