<ion-view title="ציטוטי יוגה להשראה" hide-nav-bar="true" id="page15" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page15-card26">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page15-list-item22" style="">
        <img dir="rtl" src="img/icon-blog.png">
        <h2 dir="rtl">ציטוטי יוגה להשראה</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page15-list-item-container8" style="">
      <div id="page15-markdown18" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">ציטוטי יוגה להשראה</p>

        <p style="color:#000000;">
          <p>
          "יוגה מלמדת אותנו לרפא את מה שלא חייבים לסבול ולסבול את מה שאי אפשר לרפא" - ב.ק.ס איינגר
</p>
<p>
          "אתה לא יכול לעשות יוגה, יוגה היא המצב הטבעי שלך, מה שאתה יכול לעשות זה תרגילי יוגה שיעזרו לך למצוא איפה אתה מתנגד למצב הטבעי שלך" - שרון גנון
</p>
<p>
          "יוגה היא דרך לחופש, על ידי תרגול יוגה עקבי נוכל להשתחרר מפחד, סבל ובדידות" - אינדרה דווי
</p>
<p>
          "רק ע"י ויסות מודע של הנשימה אפשר להשיג את העמידות אשר תבטיח לנו חיים ארוכים נטולי מחלות" - מתוך הספר יוגה ובריאות של יסודיאן והייך.
</p>
<p>
          "זה אשר מתרגל יוגה ללא מתינות בתזונתו, יגרום למחלות ולא ישיג שום הצלחה" - מתוך הגרנדה סמהיטה - טקסט הודי מהמאה ה 17
</p>
<p>
          "יוגה היא עצירה של תנודות התודעה כפי שכתוב ביוגה סוטרה של פטנג'לי. כאשר המיינד בלי שום תנועה, אולי לרבע שעה או אפילו רבע דקה, מבינים כי ליוגה יש טבע של מודעות אינסופית" - קרישנהמצ'ריה בגיל 100
</p>
<p>
  “יוגה היא לטיהור פנימי ולא תרגילים חיצוניים, משמעות היוגה ידע עצמי אמיתי" - פטהבי ג'ויס </p> </p>
      </div>
    </div>
  </ion-content>
</ion-view>
