<ion-view title="5 היאמות - ערכי היוגה" hide-nav-bar="true" id="page17" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page17-card28">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page17-list-item28" style="">
        <img dir="rtl" src="img/icon-blog.png">
        <h2 dir="rtl">5 היאמות - ערכי היוגה</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page17-list-item-container9" style="">
      <div id="page17-markdown20" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">5 היאמות - ערכי היוגה</p>

        <p style="color:#000000;">בטקסטים העתיקים של היוגה ניתנים לנו היאמות -  ערכים להתנהג לפיהם,  שיעזרו לנו בתהליך ההתפתחות וההגשמה העצמית ויובילו אותנו נכון יותר בדרך היוגה ובחיי היום יום.


          5 היאמות הן:

<p>
          אהימסה - ahimsa
          הימנעות מאלימות ופגיעה באחר, במחשבה, מילים וכמובן מעשה.
          תהליך של מעבר ממחשבות של כעס, עוינות ותוקפנות כלפי הסביבה למקום יותר מקבל, יותר פתוח ויותר סבלני.
          גם על מזרן היוגה יש להשתדל להיות פחות אלימים עם הגוף ולפתח יכולות הקשבה לגוף. ללמוד לשלב בתרגול עצמה ופיזיות לצד רכות ועדינות.
</p>
<p>
          סאטיה - satya
          לומר ולנהוג אמת.
          שקרים מונעים מאיתנו ומהסובבים אותנו לראות את המציאות באופן יותר בהיר ומדויק.
          איך ומתי לומר את האמת לאנשים, במיוחד כאלה הקרובים אלינו, זה כמובן דבר מורכב.
</p>
<p>
          אסטיה - asteya
          לא לגנוב/לקחת דברים של אחרים.
          זה כמובן מתייחס גם לחפצים ודברים פיזיים אבל גם לדברים כמו זמן של אחרים ורעיונות של אחרים.
          בפרשנות מודרנית אפשר להתייחס גם למעבר לצריכה מתונה, אקולוגית ומודעת יותר.
</p>
<p>
          ברמצ'ריה - brahmacharya
          היאמה הזו מתייחסת לפרישות - לא להשתמש באנרגיה מינית.
          בהיבט יותר רחב הכוונה היא לשימוש נכון באנרגיה שלנו, לדעת לווסת, לעצור לנוח, להניע אנרגיה ולשמור אנרגיה. כשאנחנו בתרגול יוגה פיזי זו הזדמנות מצוינת לתרגל את זה.
</p>
<p>
          אפאריגרהא -  aparigraha
          אי היצמדות. לא לצבור ולאגור דברים.
          זה אומר לדעת לבחור את מה שחשוב לנו, לדעת לוותר ולשחרר דברים, לחיות יותר בצניעות ובהכרת תודה על מה שיש ועל מה שאנו באמת זקוקים כדי לחיות.
          חוץ מחפצים כאלו ואחרים, לעתים אנו נצמדים ומפתחים תלות מגבילה בדעות שלנו, עבודות וגם בבני זוג וגם על זה שווה לחשוב.
          כלל אצבע נחמד: אל תקנו בגד חדש בלי שתרמתם/זרקתם משהו ישן.
</p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
