<ion-view title="יוגה לשינה טובה יותר" hide-nav-bar="true" id="page12" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page12-card24">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page12-list-item25" style="">
        <img dir="rtl" src="img/U9F5LE8xQEqdZqJRT694_300px-A_Child_Sleeping.jpg">
        <h2 dir="rtl">יוגה לשינה טובה יותר</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page12-list-item-container9" style="">
      <div id="page12-markdown18" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">הרבה אנשים פשוט לא רגועים מספיק ומשוחררים מספיק בשביל לחוות שינה טובה, במאמר מוצגים חלק מהטכניקות של היוגה שיכולות לעזור לשינה טובה יותר.</p>

        <p style="color:#000000;">בעיות שינה נתונים מהלשכה המרכזית לסטטיסטיקה בנוגע לשנת 2010 אשר פורסמו לאחרונה מראים נתונים מדאיגים לגבי איכות השינה בקרב האנשים בישראל. כ 40% סובלים מבעיות שינה, כמעט 20% מדווחים כי לחץ ודאגה גורמים לבעיות שינה עבורם, כמעט 20% מרגישים עייפות
          רבה במהלך היום מה שמעיד על איכות ו/או כמות שינה לא מספקת. בארה"ב מיליוני אנשים משתמשים על בסיס יומי בתרופות שונות לשינה וגם בארץ זה נפוץ יותר ויותר. ישנם הסברים רבים לבעיות שינה אשר מופיעות בימינו בתדירות כה גבוהה, פעמים רבות הן נובעות ממצב
          בריאותי כלשהו, ייתכן שהן קשורות לעודף גירויים מהסביבה המקשה על השינה, אורח החיים העירוני ופגיעה במעגל החיים הטבעי עשויים להשפיע, תזונה משפיעה מאוד על השינה ובפרט צריכה של מזונות ומשקאות מעוררים ומרובי סוכר, וכמובן עודף לחץ ומתח אשר מתבטאים הן
          בגוף והן במוח ולא מאפשרים שינה טובה. הרבה אנשים פשוט לא רגועים מספיק ומשוחררים מספיק בשביל לחוות שינה טובה.</p>

        <p style="color:#000000;">מחקרים על יוגה ושינה בשנים האחרונות נערכים יותר מחקרים על היוגה ככלי טיפולי להקלה על בעיות בריאותיות שונות וגם על השפעתה האפשרית של יוגה על שינה נערכו מספר מחקרים, ביניהם אזכיר שניים: מחקר אשר נערך בשנת 2004 בדק יוגה כהתערבות טיפולית עם אנשים
          אשר סובלים מאינסומניה. המשתתפים במחקר קיבלו הסבר ותרגול יוגה לבית, תרגלו באופן עצמאי במשך 8 שבועות תוך קבלת ליווי תמיכה. תוצאות המחקר מראות כי מספר מדדי שינה הראו שיפור משמעותי מבחינה סטטיסטית ביניהם איכות השינה וזמן השינה הכולל. מחקר נוסף משנת
          2010 אשר נערך עם אוכלוסיית נשים בהיריון, שילב תרגול מדיטציית mindfulness ותרגול האטה יוגה אצל נשים במשך 7 שבועות. במחקר נמצא כי נשים אשר החלו את המחקר בטרימסטר השני הראו שיפור במספר ההתעוררויות בלילה, זמן הערות בלילה והפרעות השינה.</p>

        <p style="color:#000000;">אז במה היוגה יכולה לעזור? תנוחות יוגה אנשים רבים סובלים ממתח שרירי תמידי הנובע ממעט מדי או יותר מדי פעילות לאורך היום, תרגול קבוע של תנוחות יוגה יכול לעזור לשחרר את המתח השרירי, להרגיע את מערכת העצבים ולעזור בשחרור טרדות היום והכנת הגוף לשינה.
          אם אדם פעיל ומוטרד יתר על המידה מומלץ לעשות תנוחות רכות ורסטורטיביות (תנוחות המשלבות תמיכות שונות כמו שמיכה או בולסטר) בפרט לפני השינה, כמה דוגמאות הן תנוחת עובר עם תמיכה, תנוחת רגליים על הקיר Salamba Viparita Karani, פיתול רך בשכיבה על הגב
          עם הברכיים נשענות הצידה על כרית, וכמובן תנוחת הרפייה שוואסנה. לאנשים אשר לא פעילים גופנית במהלך היום ובמיוחד למי שסובל מעייפות חשוב לשלב תרגול תנוחות יותר אקטיבי במהלך היום (אך פחות לקראת השינה) על מנת לעזור בשחרור הגוף והמתח המצטבר, הגברת האנרגיה
          והתנועה בגוף ושיפור תפקודן של מערכות הגוף השונות.</p>

        <p style="color:#000000;">תרגילי נשימה גם תרגילי נשימה (פראנימה) יכולים לעזור. הנשימה היא כלי חשוב מאוד להרפיית מתחים והרגעת מערכת העצבים, בנוסף אנשים רבים הסובלים מבעיות נשימה כמו אסטמה מתקשים יותר לישון. כך שתרגילי נשימה יכולים להכין בצורה טובה לשינה. ישנם כמובן תרגילי
          נשימה רבים, בחרתי לפרט פה שניים אפשריים: 1. נשימה בטנית רגועה - תרגיל אחד אשר יכול לעזור הוא לשים לב לנשימה בטנית, כך שבשאיפה הבטן תתמלא ותתרחב ובנשיפה הבטן מתרוקנת חזרה מטה לכיוון הגב. ניתן למקם את הידיים על הבטן או הצלעות התחתונות על מנת להעצים
          את התחושה. נשימה זו נחשבת כמרגיעה את מערכת העצבים וטובה לכל האיברים הפנימיים של חלל הבטן 2. תרגול נשימה ביחס 1:2 - אפשר לבצע תרגיל זה גם בישיבה וגם בשכיבה וניתן לשלב נשימת אוג'אי. בהתאם לאורך הנשיפה הנוח עבורנו נקצר ונרכך את השאיפה כך שאורכה
          חצי מאורך הנשיפה, לדוגמא אם הנשיפה הנוחה אורכת 4 שניות אז השאיפה תהיה 2 שניות. לאורך כל התרגיל נשמור על נשימה נוחה בלי מאמץ ובמידה ואנו חווים אי נוחות נחזור לנשימה טבעית למספר נשימות. ננסה להתמקד בנשיפה מלאה ומרוקנת. תרגיל נשימה זה מלמד אותנו
          לנשוף כמו שצריך ועוזר להרגעת מערכת העצבים ולקדם שינה טובה יותר.</p>

        <p style="color:#000000;">תרגול מדיטציה כפי שאמרנו לעודף לחץ ומחשבות מטרידות חלק גדול בקושי לשינה טובה ותרגול מדיטציה הוא כלי מצוין עבור זה. מדיטציה טובה לזיהוי דפוסי מחשבה, שיפור היכולת להכיל ולהתמודד עם שינויים, שחרור של מחשבות מטרידות, טיפוח חיוביות ועוד. ישנן טכניקות
          מדיטציה רבות גם בעולם היוגה וגם מחוצה לו, הן משלבות אלמנטים שונים כמו עבודה עם הנשימה, כיוון תשומת הלב לאובייקט חיצוני או פנימי, תנועה או שימוש במוסיקה. סוג מדיטציה אחד אשר קיים ביוגה ומתאים לקידום שינה טובה יותר הוא יוגה נידרה.</p>

        <p style="color:#000000;">התאמה ושינוי תזונתי לתזונה יש אפקט גדול גם על השינה וכך מומלץ להתייעץ עם אנשי מקצוע על מנת לקבל תזונה מיטיבה למצבנו הבריאותי וגם לקידום שינה טובה יותר. המלצות כלליות הן שימת דגש על מזונות אשר מייצבים ומרגיעים את אנרגיית הגוף למשל ירקות שורש מבושלים
          ודגנים, הימנעות ממזונות מעוררים וקשים לעיכול בשעות הערב והלילה. ישנם גם מספר צמחי מרפא אשר יכולים לעזור לשינה טובה יותר ואפשר לשתות אותם כחליטות במהלך היום ולפני השינה: פרחי פסיפלורה, ורבנה רפואית, מליסה, קמומיל, פרחי לבנדר ושורש ולריאן. שימו
          לב כי גם בתה רגיל וגם תה ירוק מכילים קפאין אז עדיף לשתות חליטות טבעיות בערב. כמה טיפים נוספים לשינה טובה יותר כוללים: 1. בדיקת והתאמת הסביבה הפיזית הקרובה לשינה: המיטה, החדר, התאורה, רעש מסביב וכו' 2. לבנות שגרה מרגיעה לפני שינה והפרדה מן היום
          הארוך שלפני ואחרי 3. יצירת זמנים קבועים ועקביים של שעות ערות ושינה מקורות מחקריים: Khalsa S.B. (2004) Treatment of chronic insomnia with yoga: a preliminary study with sleep-wake diaries. Appl Psychophysiol Biofeedback; 29(4):269e78 Beddoe AE,
          Lee KA, Weiss SJ, Kennedy HP, Yang CP. (2010) Effects of mindful yoga on sleep in pregnant women: a pilot study. Biol Res Nurs; 11:363e70.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
