<ion-view title="תנוחות יוגה" id="page2" style="">
  <ion-content dir="rtl" padding="true" class="has-header">
    <ion-scroll direction="y" style="height: 500px">

    <ion-list id="page2-list2">
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item7" ui-sref="tabsController.page7" style="">
        <img src="img/sun1.jpg">
        <h2 dir="rtl" >ברכה לשמש</h2>
        <i class="icon ion-play"></i>
      </ion-item>
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item8" ui-sref="tabsController.sidrat_halohchem1" style="">
        <img src="img/warrior2.jpg">
        <h2 dir="rtl">סדרת הלוחם </h2>
        <i class="icon ion-play"></i>
      </ion-item>
      <!--
      <ion-item class="item-thumbnail-right" id="page2-list-item9" style="">
        <h2 dir="rtl">סדרת הלוחם 2</h2>
      </ion-item>
      -->
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item10" ui-sref="tabsController.yareah" style="">
        <img src="img/chandra3.jpg">
        <h2 dir="rtl" >סדרת הירח</h2>
        <i class="icon ion-play"></i>

      </ion-item>
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item11" ui-sref="tabsController.six" style="">
        <img src="img/six1.jpg">
        <h2 dir="rtl" >חיזוק הגב והידיים</h2>
        <i class="icon ion-play"></i>
      </ion-item>
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item12" ui-sref="tabsController.sit" style="">
        <img src="img/sit1.jpg">
        <h2 dir="rtl">שחרור לגב בישיבה</h2>
        <i class="icon ion-play"></i>
      </ion-item>
      <ion-item class="item-thumbnail-right item-icon-left" id="page2-list-item13" ui-sref="tabsController.runner" style="">
        <img src="img/runner1.jpg">
        <h2 dir="rtl">תנוחות יוגה לרצים</h2>
        <i class="icon ion-play"></i>
      </ion-item>
    </ion-scroll>
    </ion-list>
  </ion-content>
</ion-view>
