<ion-view title= "מדיטציה 1" id="page14" style="">
  <ion-content padding="true" class="has-header">

    <div id="page14-markdown2" style="text-align:right;">
    <ion-item>
      <p>גיאטרי מנטרה </p>
      <audio controls>
        <source src="sounds/gayatri-mantra-108.mp3" type="audio/mp3">
        Your browser does not support the audio element.

      </audio>
    </ion-item>
      <ion-nav-bar ng-controller="MyCtrl">
        <ion-nav-back-button class="button-clear"
                             ng-click="myGoBack()">
          <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
      </ion-nav-bar>
    </div>


  </ion-content>
</ion-view>
