<ion-view title="ברכה לשמש" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="page7-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="page7-slide2164" style="background:url(img/sun1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2165" style="background:url(img/sun2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2166" style="background:url(img/sun3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2168" style="background:url(img/sun4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2169" style="background:url(img/sun5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2170" style="background:url(img/sun6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2171" style="background:url(img/sun7.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2172" style="background:url(img/sun8.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2173" style="background:url(img/sun9.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2174" style="background:url(img/sun10.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2175" style="background:url(img/sun11.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2176" style="background:url(img/sun12.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2177" style="background:url(img/sun13.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="page7-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
      <p dir="rtl" style="color:#000000;">מעלות:
        הגמשת וחיזוק הגוף
        יצירת חום ואנרגיה
        סנכרון תנועה ונשימה
        שיפור הריכוז ותשומת הלב


        דגשים והמלצות:
        מתאים במיוחד לשעות הבוקר לאחר חימום קצר
        ניתן לעשות בין 3-7 מחזורים של הברכה לשמש בתור התחלה
        בתנוחת כלב מביט מטה שוהים כ 5 נשימות
        ככלל תנועות למטה/אחורה עושים בנשיפה, תנועות למעלה/קדימה בשאיפה
        ניתן לתרגל בנפרד או כחלק מתרגול יוגה ארוך יותר


        לצפייה בסרטון המדגים 3 ברכות לשמש ברצף עם כמה התאמות אפשרויות
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KOqIZOs_ayY" frameborder="0" allowfullscreen></iframe>

      </p>
    </div>
  </ion-content>
</ion-view>
