<ion-view title="על תנוחת הלוחם" hide-nav-bar="true" id="page16" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <ion-scroll direction="y" style="height: 500px">
    <div dir="rtl" class="list card" id="page16-card27">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page16-list-item27" style="">
        <img dir="rtl" src="img/icon-blog.png">
        <h2 dir="rtl">על תנוחת הלוחם </h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page16-list-item-container9" style="">
      <div id="page16-markdown20" style="text-align:right;" class="show-list-numbers-and-dots">

        <p style="color:#000000;">שם התנוחה בסנסקריט:Virabhadrasana  1

          <p>
          התנוחה קרויה על שם לוחם אשר לפי האגדה עזר לאל שיווה.
</p>
           מעלות התנוחה:
<p>
*          מחזקת ומגמישה את שרירי ומפרקי הרגליים
</p>
        <p>
*          מותחת ומרחיבה את החזה והריאות
</p>
        <p>
  * משפרת יציבה
</p>

          כמה טיפים והנחיות:
        <p>
*          חשוב לבסס ולעגן היטב את כפות הרגליים
          </p>
        <p>
*          לאסוף את הבטן התחתונה פנימה ואת קרקעית האגן מעלה
          </p>
        <p>
          * ננסה לשמור את אזור הכתפיים והצוואר נינוח וערני
          </p>
        <p>
          * תשומת לב עד לקצוות הגוף
        </p>
        <p>
*          עם השאיפה למלא ולהרחיב את חלל בית החזה
</p>


          ואריאציות ידיים אפשריות:
        <p>
*          כפות ידיים אל המותניים ומרפקים הצידה
          </p>
        <p>
          * כפות ידיים הצידה בגובה כתפיים ופתוחות מעלה
          </p>
        <p>
*          ידיים ישרות מעלה צמודות כף אל כף
          </p>
        </p>
      </div>
    </div>
      </ion-scroll>
  </ion-content>
</ion-view>
