<ion-view title="על זיעה, תרגול יוגה ואורח חיים" hide-nav-bar="true" id="page11" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page11-card23">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page11-list-item21" style="">
        <img dir="rtl" src="img/K0K5d1G0RlC0VdKEUBJd_bikramyoga.jpg">
        <h2 dir="rtl">על זיעה, תרגול יוגה ואורח חיים</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page11-list-item-container8" style="">
      <div id="page11-markdown17" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">במאמר זה אתייחס להיבטים שונים של זיעה, כיצד מנגנון הזיעה עובד, איך להתמודד עם זיעה בתרגול יוגה, כיצד להפחית את הזיעה בחיי היום יום שלנו ומה לעשות בנוגע לשימוש בדאודורנט.</p>

        <p style="color:#000000;">על זיעה ומנגנון הזיעה בגוף הזיעה היא הפרשה של נוזל מימי מבלוטות הזיעה אשר בעור. הזעה היא לרוב אמצעי לצינון הגוף והיא חלק ממערך שבו הגוף שומר על יציבותו הפנימית למול שינויים והשפעות למשל של שינוי טמפרטורה. תהליך התאיידות נוזל הזיעה מפני העור גורמת
          לקירור, וכך עלייה בחום הגוף, למשל כתוצאה מפעילות גופנית, גורמת להזעה. גורמים נוספים אשר עשויים להוביל להזעה הם כאב, מחלות שונות, עודף משקל, שינויים הורמונאליים, לחץ ותרופות מסוימות. הזעת יתר, תופעה אשר אנשים לא מעטים סובלים ממנה, ממוקדת לרוב
          באיברים כמו בתי השחי, כפות הידיים והרגליים ובפנים. לזיעה קיימת חשיבות רבה בהפרשת חומרים שונים בהתאם לצרכי הגוף ביניהם חומרי פסולת חנקנית, מתכות ומלחים שונים. קיימים שני סוגים של בלוטות זיעה: בלוטות הזיעה האקריניות מפוזרות על פני כל שטח הפנים
          של הגוף ומייצרות זיעה המורכבת בעיקר ממים ומספר סוגי מלחים. מטרת זיעה זו היא לווסת את טמפרטורת הגוף. בלוטות הזיעה האפוקריניות מייצרות זיעה שבה קיימים חומרים שומניים. בלוטות אלה מצויות בשפע בבית השחי ומסביב לאיברי המין. פעילות הבלוטות הללו היא
          שגורמת בעיקר לריח הגוף הנובע מזיעה בגלל חיידקים אשר מפרקים את החומריים האורגניים המצויים בזיעה. זיעה לפי היוגה ובתרגול יוגה בכתבי היוגה העתיקים hatha yoga pradipika ו shiva samhita אחת הטכניקות המוזכרות היא מריחת הזיעה הנוצרת מתרגולי פראנימה
          (תרגילי נשימה) חזרה לגוף, כאן מתייחסים לזיעה כאל נקטר שאותו מורחים על העור בשל תכונותיו הטובות אשר שומרות על העור ומחזקות את הגוף. לפי החשיבה היוגית, היוגי חי באורח חיים בריא ומותאם לטבע ומתרגל טכניקות רבות עוצמה ולכן הזיעה הופכת מנוזל רעיל
          שהגוף צריך להיפטר ממנו לנוזל טהור ופוטנטי. גם המורה הגדול פטאבי ג
          <em>ויס , אשר הביא לנו את תרגול האשטנגה, כתב: </em> הזיעה אשר נוצרת מתרגול יוגה צריכה להתייבש בהדרגתיות ע
          <em>י מריחתה אל תוך הגוף בעזרת הידיים ולא ע</em>י חשיפתה לאוויר או ניגובה ע
          <em>י מגבת או מטלית</em>. תהליך הייזוע משמש כעיקרון טיפולי במסורות עתיקות שונות, במסורת היוגה והאיור וודה, הרפואה הסינית ומסורות שמאניזם שונות ובנוסף במקומות עם אקלים קר שם שימוש בסאונה הינו חלק מהתרבות. הייזוע מאפשר לגוף לעבור תהליך של ניקוי מרעלים
          והתחדשות אשר יכול לעזור מאוד במצבים בריאותיים שונים.</p>

        <p style="color:#000000;">בזמן תרגול יוגה, במיוחד בקיץ ובמיוחד בתרגולים דינמיים ואינטנסיביים המתרגלים יכולים למצוא את עצמם נוטפים זיעה מה שלעתים לא מתחבר לתפיסה הקיימת אצל חלק מהאנשים את היוגה כפעילות שקטה ומרגיעה. זיעה יכולה להיות אובייקט מעניין להתבוננות במהלך התרגול,
          היא מייצגת אי נוחות שנוצרת בגוף ולפעמים יוצרת התנגדות, תסכול וגם קושי פיזי לתרגל למשל כשכפות הידיים מחליקות. נתחיל עם כמה פתרונות קונקרטיים: לשקול לרכוש מזרן איכותי אשר מאפשר אחיזה טובה יותר או את מגבת התרגול yogitoes אותה שמים על המזרן, לשים
          מגבת שמביאים מהבית בראש המזרן עבור כפות הידיים, אפשרות נוספת היא להפוך את המזרן במהלך התרגול כדי ליהנות מהצד שנשאר יבש , כמובן מומלץ לבוא עם בגדים מתאימים ומאווררים לתרגול שיהפכו את הזיעה למציקה פחות. צריך גם לזכור שחום מצטבר בגוף ואז משתחרר,
          כך שאם שהיתם לפני התרגול בשמש כנראה תזיעו יותר בזמן התרגול. מספר נקודות נוספות למחשבה: האם בתנוחות או מצבים מנטאליים מסוימים אנו מזיעים יותר? האם האופן בו אנו מתרגלים ונושמים משפיע על הזיעה? האם אנחנו יכולים להתמסר ולקבל את הזיעה ולא להירתע
          או להתעצבן? ואולי בכלל כיף לנו להזיע? תרגול היוגה יכול וצריך להשתנות בהתאם לעונות השנה, וכך תרגול יוגה מותאם לקיץ יכול לעזור בהפחתה של חום וזיעה מוגזמים. למי שמעוניין אפשר לקרוא עוד במאמר שכתבתי על תרגול יוגה בקיץ .</p>

        <p style="color:#000000;">ואולי הכי חשוב לזכור, אתם לא הראשונים ולא האחרונים שמזיעים בשיעור יוגה, אז בלי פאניקה (שרק תגרום להזיע יותר), הכול בסדר. על הזעה בחיי היום יום ואורח חיים אורח חיים מתאים יכול לעזור הן בהפחתת הזיעה והן בהפחתת הריח הלא נעים אשר לעתים מלווה אליה.
          מניסיוני האישי ובתור תושב תל אביב הלחה בקיץ, אני יכול לומר שביחס לעבר הגוף שלי מזיע פחות גם בזמן מאמץ גופני וריח הזיעה נעים יותר ואני מייחס זאת לשינויים באורח החיים ובתרגול שלי.</p>

        <p style="color:#000000;">תזונה: מומלץ להקטין שימוש במזונות, משקאות ותבלינים מחממים וחריפים, ולהמעיט במזון מטוגן ומעובד. להשתמש בבישול קצר יותר כמו אידוי והקפצה שמתאים יותר לקיץ, להגדיל צריכה של מזונות מקררים כמו חיטה מלאה, מאש, חסה, נבטים, ברוקולי, מלפפון, אבוקדו, תפוח,
          אבטיח ואגס. יש לדאוג לשתות מספיק ומומלץ לשתות חליטות מקררות ומרגיעות של מנטה, זוטא, לואיזה וקמומיל.</p>

        <p style="color:#000000;">תנועה ונשימה: שיפור יכולות התנועה בשילוב נשימה נכונה מייעל את תפקוד הגוף, מאפשר לגוף לווסת טמפרטורה ולהתמודד עם החום אשר נוצר ולהקטין את רמת הלחץ אשר כפי שהוזכר יכולה לתרום להגברת זיעה.</p>

        <p style="color:#000000;">שמירה על טמפרטורת הגוף דרך אמצעים טבעיים כמו: שהייה בצל, ביגוד מאוורר, שהות בחוץ בשעות מתאימות ובחיק הטבע שם אפשר ליהנות מאוויר טוב, מנוחה מתאימה, שטיפת וקירור הגוף במקלחת וכניסה למים בבריכה או בים. ככלל התאמה של אורח החיים למזג האוויר ולעונת
          הקיץ תעזור לנו להתמודד עם החום וגם מנגנון ההזעה שלנו יתפקד טוב יותר. שימוש בדאודורנט בחשיבה טבעית רצוי להמעיט בשימוש בדאודורנט מכל סוג שהוא, הזעה היא תהליך טבעי וטוב לגוף ויש לאפשר לו להתרחש. יחד עם זאת ישנם מקומות או מצבים הדורשים שימוש בדאודורנט,
          בפרט עבור מי שסובל מזיעה מרובה או מריח זיעה חריף. אז אם כבר משתמשים, עדיף להשתמש במידה ולהשתמש בדאודורנט מה שיותר טבעי מבין האפשרויות אשר קיימות, אשר אינו מכיל מלחי אלומיניום, פרבנים, אלכוהול וחומרים אחרים אשר נמצאים ברבים מהתכשירים אשר מוצעים
          למכירה. ישנם סימני שאלה לגבי הקשר בין חלק מחומרים אלו לעלייה בשכיחות סרטן השד ומחלות נוספות וזהו נושא לדיון בפני עצמו. מכיוון שהשימוש בדאודורנט אצל רבים הוא יום יומי שווה להשקיע תשומת לב וחשיבה על הנושא. שיהיה קיץ קריר ונעים לכולנו</p>
      </div>
    </div>
  </ion-content>
</ion-view>
