<ion-view title="מדיטציה" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="page3-list6">
      <ion-item dir="rtl" class="item-icon-left" id="page3-list-item26" style="">
        <p>גיאטרי מנטרה </p>
        <audio controls>
          <source src="sounds/gayatri-mantra-108.mp3" type="audio/mp3">
          Sorry, Your browser does not support the audio element.
        </audio>

        <span dir="rtl" class="item-note"></span>
      </ion-item>

      <ion-item dir="rtl"class="item-icon-left" id="page3-list-item29" style="">
        <p>קבלת כוח </p>
        <audio controls>
          <source src="sounds/Strength_Receiving.mp3" type="audio/mp3">
          Sorry, Your browser does not support the audio element.
        </audio>

      </ion-item>
      <ion-item dir="rtl" class="item-icon-left" id="page3-list-item30" style="">שם ותיאור קצר
        <span dir="rtl" class="item-note"></span>
        <i class="icon ion-ios-play-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
