<ion-view title="3 עצות משיבננדה לגבי יוגה ובריאות" hide-nav-bar="true" id="page18" style="">
  <ion-content dir="rtl" padding="true" class="manual-ios-statusbar-padding">
    <div dir="rtl" class="list card" id="page18-card29">
      <ion-item dir="rtl" class="item-thumbnail-left" id="page18-list-item29" style="">
        <img dir="rtl" src="img/shibananda.png">
        <h2 dir="rtl">3 עצות משיבננדה לגבי יוגה ובריאות</h2>
        <p dir="rtl">מורן צמחוני</p>
      </ion-item>
    </div>
    <div class="item item-body" id="page18-list-item-container9" style="">
      <div id="page18-markdown20" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">3 עצות משיבננדה</p>

        <p style="color:#000000;">סוואמי שיבננדה - אחד ממורי היוגה המפורסמים במאה ה 20, כתב ספרים רבים על יוגה.
          הנה 3 טיפים לבריאות מתוך מטקסט שלו שנקרא Easy steps to yoga בתרגום חופשי:
          <p> 1. תן למחלה להיות, אל תהיה מוטרד יותר מדי, אל תדאג ותקטר בגלל זה. נסה לפתח כוחות של עמידות והתנגדות. חזק את הגוף, ה Mind ומערכת העצבים. עשה תרגילים באוויר הפתוח, אכול אכול מזין, אמבטיות שמנים והרבה מנוחה. מצא תחביבים ויצירה לגוף ולנפש. חיה חיים מסודרים, נסה להיות מתון בצריכת מזון, שתייה ובילויים.</p>
<p>          2. נוח כשצריך, התאם את התזונה שלך, אכול מזונות פשוטים, מלאים, קלים לעיכול וכאלו שלא מגרים את מערכת העיכול. ותר על מזונות חריפים או צורבים מאוד, תן למערכת העיכול לנוח ע"י צומות חלקיים. אם אתה יכול לצום ליום שלם, זה יכול להיות אפילו טוב יותר. צום מנקה רעלים ועושה רענון עמוק למערכת. תוכל לאכול מעט פירות או דייסה ואם אתה צמא לשתות מיץ לימון או תפוזים.</p>
<p>          3. צא להתענג באור השמש. חשוף את גופך לקרני השמש לזמן קצר כל יום. זה נקרא הליותרפיה - טיפול בשמש. שמש היא מקור לאנרגיה וכוח וכך תוכל לשאוב ממנה חיוניות.</p>

        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
