<ion-view title="בלוג" id="page5" style="">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <ion-scroll direction="y" style="height: 500px">
    <div class="spacer" style="width: 283px; height: 25px;"></div>
    <ion-list id="page5-list4">
       <ion-item class="item-thumbnail-right" id="page5-list-item14" ui-sref="tabsController.page12" style="">
        <img src="img/Vbjtp3TbyuByUU3TErbQ_300px-A_Child_Sleeping.jpg">
        <h2 dir="rtl">יוגה לשינה טובה יותר </h2>
        <p dir="rtl">המשיכו לקרוא..</p>
        <ion-option-button class="button-stable">המשיכו לקרוא..</ion-option-button>
      </ion-item>
    </ion-list>
    <!-- <ion-list id="page5-list5">
      <ion-item class="item-thumbnail-right" id="page5-list-item15" ui-sref="tabsController.page10" style="">
        <img src="img/TeARJmvTr8zguh0y0DDQ_astmaSitting.jpg">
        <h2 dir="rtl">יוגה, נשימה ואסטמה</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="page5-list-item20" ui-sref="tabsController.page11" style="">
        <img src="img/qb7JrT3sRMaVIsev4t6f_bikramyoga.jpg">
        <h2 dir="rtl">על זיעה, תרגול יוגה ואורח חיים</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      -->
      <ion-item class="item-thumbnail-right" id="page5-list-item22" ui-sref="tabsController.page13" style="">
        <img src="img/warrior4.jpg">
        <h2 dir="rtl">דגשים לתנוחות ידיים</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="page5-list-item23" ui-sref="tabsController.page15" style="">
        <img src="img/icon-blog.png">
        <h2 dir="rtl">ציטוטי יוגה להשראה</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="page5-list-item24" ui-sref="tabsController.page16" style="">
        <img src="img/icon-blog.png">
        <h2 dir="rtl">על תנוחת הלוחם</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="page5-list-item25" ui-sref="tabsController.page17" style="">
        <img src="img/icon-blog.png">
        <h2 dir="rtl">5 היאמות - ערכי היוגה</h2>
        <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="page5-list-item26" ui-sref="tabsController.page18" style="">
          <img src="img/shibananda.png">
          <h2 dir="rtl">3 עצות משיבננדה לגבי יוגה ובריאות</h2>
          <p dir="rtl">המשיכו לקרוא..</p>
      </ion-item>
    </ion-list>
      </ion-scroll>
  </ion-content>
</ion-view>
