<ion-view title="תנוחות יוגה לרצים" id="runner" style="">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="runner-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="runner-slide2232" style="background:url(img/runner1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2233" style="background:url(img/runner2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2234" style="background:url(img/runner3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2235" style="background:url(img/runner4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2236" style="background:url(img/runner5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2237" style="background:url(img/runner6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="runner-slide2238" style="background:url(img/runner7.jpg) no-repeat center;background-size:cover;"></ion-slide-page>

    </ion-slides>
    <div id="runner-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
      <p dir="rtl" style="color:#000000;">

        מעלות:
        הגמשת וחיזוק הרגליים
        שיפור היציבה ושיווי המשקל
        ארגון הגוף באופן בריא ויעיל יותר


        דגשים והמלצות:
        ניתן להישאר בין 3-7 נשימות בכל תנוחה בתור התחלה
        כל תנוחה אנו עושים לשני צידי הגוף
        אפשר לשלב את התנוחות במסגרת החימום או השחרור שעושים באופן שוטף
        בתנוחות שאנחנו על הרגליים לשים דגש על פריסת כף הרגל והשתרשות אל הקרקע
        כמו תמיד לתרגל עם הקשבה ליכולות הגוף ומודעות לנשימה

      </p>
    </div>
  </ion-content>
</ion-view>
