<ion-view title="סדרת הלוחם1" id="sidrat_halohchem1" style="">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="sidrat_halohchem1-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="sidrat_halohchem1-slide2178" style="background:url(img/warrior1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2179" style="background:url(img/warrior2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2180" style="background:url(img/warrior3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2181" style="background:url(img/warrior4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2182" style="background:url(img/warrior5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2183" style="background:url(img/warrior6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2184" style="background:url(img/warrior7.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2185" style="background:url(img/warrior8.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2186" style="background:url(img/warrior9.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2187" style="background:url(img/warrior10.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2188" style="background:url(img/warrior11.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2189" style="background:url(img/warrior12.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2190" style="background:url(img/warrior13.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sidrat_halohchem1-slide2191" style="background:url(img/warrior14.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2192" style="background:url(img/warrior15.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page7-slide2193" style="background:url(img/warrior16.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="sidrat_halohchem1-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
      <p dir="rtl" style="color:#000000;">
        מעלות:
        הגמשת וחיזוק הרגליים
        שיפור היציבה ושיווי המשקל
        חיזוק שרירי מרכז וליבה


        דגשים והמלצות:
        ניתן להישאר בין 3-7 נשימות בכל תנוחה בתור התחלה
        לשים דגש על פריסת כפות הרגליים והשתרשות אל הקרקע
        מתאים לאחר חימום ו/או תרגול ברכות לשמש, וכחלק מרצף תנוחות עמידה
        בתמונות ובסרטון ניתן לראות גם ואריאציה פשוטה של חלק מהתנוחות
        עבור חלק מהתנוחות אפשר להיעזר בבלוק (או הגבהה אחרת) לתמיכת היד התחתונה
        כמו תמיד לתרגל בעדינות והקשבה לגוף


        לצפייה בסרטון המדגים את רצף התנוחות בהילוך מהיר:
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3Ax5iRDWKi4" frameborder="0" allowfullscreen></iframe>
      </p>
    </div>
  </ion-content>
</ion-view>
