<ion-view title="שחרור לגב בישיבה" id="six" style="">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="six-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="six-slide2211" style="background:url(img/chandra1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2212" style="background:url(img/chandra2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2213" style="background:url(img/chandra3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2214" style="background:url(img/chandra4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2215" style="background:url(img/chandra5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2216" style="background:url(img/chandra6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2217" style="background:url(img/chandra7.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2218" style="background:url(img/chandra8.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2219" style="background:url(img/chandra9.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2220" style="background:url(img/chandra10.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2221" style="background:url(img/chandra11.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2222" style="background:url(img/chandra12.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="six-slide2223" style="background:url(img/chandra13.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="six-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
      <p dir="rtl" style="color:#000000;">מעלות:
        טוב לחיזוק הגב והידיים
        עוזר בהגמשת האגן והגב
        תורם לשיפור היציבה והחזקת הגוף




        דגשים והמלצות:
        אפשר לעשות את התנוחות ברצף או להישאר מספר נשימות בכל מנח
        מומלץ לחימום ופתיחת הגוף בתחילת תרגול יוגה
        לשים לב לפריסת כף היד והשתרשות אל הקרקע בתנוחות על הידיים
        כמו תמיד לתרגל עם הקשבה ליכולות הגוף ומודעות לנשימה

      </p>
    </div>
  </ion-content>
</ion-view>
