<ion-view title="Tabs Controller" id="page1" class="side-menu-gradient" style="">

  <ion-tabs dir="rtl" class="tabs-stable tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab dir="rtl" title="רצפי יוגה" icon="ion-icon-yoga_sequence" href="#/page1/yogasequence" id="tabsController-tab4">
      <ion-nav-view dir="rtl" name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab dir="rtl" title="מדיטציה" icon="ion-icon-meditation" href="#/page1/meditation" id="tabsController-tab3">
      <ion-nav-view dir="rtl" name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab dir="rtl" title="מוסיקה" icon="ion-icon-music" href="#/page1/music" id="tabsController-tab2">
      <ion-nav-view dir="rtl" name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab dir="rtl" title="בלוג" icon="ion-icon-blog" href="#/page1/blog" id="tabsController-tab1">
      <ion-nav-view dir="rtl" name="tab1"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
