<ion-view title="סדרת הירח" id="yareah" style="">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="yareah-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="yareah-slide2194" style="background:url(img/chandra1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2195" style="background:url(img/chandra2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2196" style="background:url(img/chandra3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2197" style="background:url(img/chandra4.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2198" style="background:url(img/chandra5.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2199" style="background:url(img/chandra6.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2200" style="background:url(img/chandra7.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2201" style="background:url(img/chandra8.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2202" style="background:url(img/chandra9.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2203" style="background:url(img/chandra10.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2204" style="background:url(img/chandra11.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2205" style="background:url(img/chandra12.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2206" style="background:url(img/chandra13.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2207" style="background:url(img/chandra14.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2208" style="background:url(img/chandra15.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2209" style="background:url(img/chandra16.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="yareah-slide2210" style="background:url(img/chandra17.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="yareah-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
      <p dir="rtl" style="color:#000000;">מעלות:
        עוזר בהגמשת האגן והרגליים
        תורם לשיפור היציבה והארכת השדרה
        משפר את תפקוד כפות הרגליים




        דגשים והמלצות:
        בכל תנוחה נישאר בין 3-7 נשימות, עם הזמן אפשר גם יותר
        משתלב טוב בתרגול יוגה לאחר חימום ו/או ברכות לשמש
        תנוחות 7-8 מופיעות בגרסא מעט שונה בתנוחות 10-11, אפשר לבחור  או לשלב
        יש ברצף מספר תנוחות מאתגרות מבחינת מפרקי הרגליים, אז בעדינות

      </p>
    </div>
  </ion-content>
</ion-view>
